@import 'reset.css';

.tableContainer {
  min-height: 100vh;
  background-color: rgb(233, 173, 173);
  display: grid;
  place-items: center;
}

.mainTable {
  width: 950px;
  border-collapse: collapse;
}

thead th {
  color: #fff;
  background-color: #333;
  padding: 0.5em 0;
  font-weight: normal;
}

.mainTable td {
  padding: 0.5em 1.5em;
  color: gray;
}
.mainTable tbody tr {
  background-color: white;
}
.mainTable tbody tr:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

/* 
kaireje yra #c550c0
desineje #c550c0   
*/
