@import 'reset.css';

.tableContainer {
  min-height: 100vh;
  background-image: linear-gradient(to top right, #6156cc, #c550c0);
  display: grid;
  place-items: center;
}

.mainTable {
  width: 950px;
  border-collapse: collapse;
  border-radius: 15px;
  /* reikalinga kad suveiktu uzapvalinimas */
  overflow: hidden;
}

thead th {
  color: #fff;
  background-color: #333;
  padding: 0.5em 0;
  font-weight: normal;
}

.mainTable td {
  padding: 0.5em 1.5em;
  color: gray;
}
.mainTable tbody tr {
  background-color: white;
  transition: all 0.2s;
}
.mainTable tbody tr:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

.mainTable tbody tr:hover {
  background-color: rgb(141, 141, 141);
}

.mainTable tbody tr:hover td {
  color: white;
}

/* 
kaireje yra #c550c0
desineje #c550c0

*/
